body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 48px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#result {
  padding: 2px 6px;
}

.cara {
  background-color: green;
  color: white;
}

.coroa {
  padding: 2px;
  background-color: yellow;
}
